[Desktop Entry]
Name=XBoomer
Comment=XP decorations for those of us with a boomer mindset

X-KDE-PluginInfo-Author=efskap
X-KDE-PluginInfo-Email=me@dmitry.lol
X-KDE-PluginInfo-Name=XBoomer
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL3
X-KDE-PluginInfo-EnabledByDefault=true
